@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    /* font-family: ; */
    font-family: 'Space Mono', monospace;
}

#calculator-body{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(185, 41%, 84%);
}
 header{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;  
    font-weight: bold;
  
}

.content{
    margin-top: 5%;
    height: fit-content;
    width: 98%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
 
 .content-header{
    margin-top: 7%;
    width: 80vw;
    font-size: 13px;
    color: hsl(186, 14%, 43%);
}
#inputText{
    background-color: hsl(189, 41%, 97%);
    width: 100vw;
    border: none;
}

#people{
    background-color: hsl(189, 41%, 97%);
    width: 100vw;
    border: none;
    display:inline-flex;
    justify-content:right;
}
.content-result{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    /* background-color: hsl(189, 41%, 97%); */
    height: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.buttons{
    width: 90vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button{
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    width: 45%;
    height: 28%;
    margin: 2%;
    color: white;
}

#custom{
    border: none;
    width: 43%;
    height: 28%;
    border-radius: 5px;
    margin: 2%;
    text-align: center;
}
.buttons .custom{
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
}
button:hover{
    background-color: hsl(172, 67%, 45%);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 38vh;
    border-radius: 10px;
    margin-top: 4%;
    background-color: hsl(183, 100%, 15%);
}
.footer-result{
    color: white;
    padding-top: 4%;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer div{
    margin-top: -4%;
    width: 80%;
}
.footer-result div .result{
    
    color: hsl(186, 14%, 43%);
    
}
.footer-result .figure{
border: solid yellow;
/* height: 10px; */
width: 100%;
margin-right: -10%;
    font-size: 30px;
}
.footer-result span{
/* border: solid red; */

    color:hsl(172, 67%, 45%);
}
.reset{
    margin-top: -2%;
    width: 70vw;
    background-color: hsl(172, 67%, 45%);
    color: hsl(186, 14%, 43%);  
} 

.attribution{
    width: 90vw;
    margin-top: 10%;
}
@media screen and (min-width: 1024px){
    #calculator-body{
        width: 98vw;
        height: fit-content;
    }
 
    .content{
        position: relative;
        display: flex;
        width: 65vw;
        height: 50vh;
        border-radius: 15px;
        margin-bottom: 15%;
    }
    header{
        margin-top: 10%;
    }

    .content-header{
        margin-top: 2%;
        width: 20vw;
        margin-left: -62%;
        /* margin-bottom: 1.5rem; */
    }
    .content-result{
        width: 45%;
        padding: 1% 0;
        margin-top: 2%;
        margin-bottom: -2%;
        margin-left: -48%;
    }
    #inputText{
        height: 30px;
        width: 100vw;
        border: none;
    }
    
    #people{
        height: 30px;
        width: 60vw;
        border: none;
    }
    
    .buttons{
        margin-top: 2%;
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        align-items:center;
        width: 30vw;
        height: 70vh;
        margin-left: -48%;
        margin-bottom: 5%;
    }
    button{
        background-color: hsl(183, 100%, 15%);
        border: none;
        border-radius: 5px;
        width: 30%;
        height: 85%;
        margin: 1.5%;
        color: white;
    }
    #custom{
        border: none;
        width: 30%;
        height: 68%;
        border-radius: 5px;
        margin-left: 2%;
        text-align: center;
    }
    
    .buttons .custom{
        background-color: hsl(189, 41%, 97%);
        color: hsl(186, 14%, 43%);
    }
    
    .footer{
        width: 30vw;
        height: 45vh;
        margin-left: 50%;
        position: absolute;
        margin-top: 1rem;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
    }
    .footer-result{
        /* margin-top: 5%; */
        font-size: 14px;
        color: white;
        display: flex;
        /* width: 10%; */
        justify-content: space-around;
        align-items: center;
    }
 
    /* css for the elements in the footer */
    #figure1{
        margin-top: 5%;
    }

    #tip{
        /* margin-top: -10%; */
    }

    #total{
        /* margin-top: -40%; */
    }
    #figure{
        margin-top: 5%;
    }
    .footer-result .figure{
        margin-top: 10%;
        font-size: 30px;
    }
    .reset{
        margin-bottom: -1%;
        width: 25vw;
        height: 10%;
    }
    /* THE END */
    
}